.message_form{
    margin: 60px;
}

.register_form{
    margin-top: 60px;
}

.login_form{
    margin-top: 60px;
}

#user_image{
    margin-top: 60px;
}

.mess_sent{
    text-align: right;

}

.mess_received{
    text-align: left;
}
.card {

    margin: 0 auto; /* Added */
    border-top: 1in;
    float: none; /* Added */
    margin-top: 70px; /* Added */
    border:3px solid black;
    display: flex;
  flex-direction: column-reverse;
}
